In [15]:
# Author - Ritvik Khanna 
# Date - 04/05/18 
# Version - 1.0


import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt #importing graph plotting functionality
# import os
# print(os.listdir("../input"))
# Load dataset
df = pd.read_csv("car_evaluation.csv", names = ["buying","maint", "doors", "persons", "lug_boot","safety","class"])
df.head(15)

   buying  maint doors persons lug_boot safety  class
0   vhigh  vhigh     2       2    small    low  unacc
1   vhigh  vhigh     2       2    small    med  unacc
2   vhigh  vhigh     2       2    small   high  unacc
3   vhigh  vhigh     2       2      med    low  unacc
4   vhigh  vhigh     2       2      med    med  unacc
5   vhigh  vhigh     2       2      med   high  unacc
6   vhigh  vhigh     2       2      big    low  unacc
7   vhigh  vhigh     2       2      big    med  unacc
8   vhigh  vhigh     2       2      big   high  unacc
9   vhigh  vhigh     2       4    small    low  unacc
10  vhigh  vhigh     2       4    small    med  unacc
11  vhigh  vhigh     2       4    small   high  unacc
12  vhigh  vhigh     2       4      med    low  unacc
13  vhigh  vhigh     2       4      med    med  unacc
14  vhigh  vhigh     2       4      med   high  unacc

In [16]:
category_col =["buying","maint", "doors", "persons", "lug_boot","safety","class"] 
labelEncoder = preprocessing.LabelEncoder()
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])

In [17]:
df.head(150)

     buying  maint  doors  persons  lug_boot  safety  class
0         3      3      0        0         2       1      2
1         3      3      0        0         2       2      2
2         3      3      0        0         2       0      2
3         3      3      0        0         1       1      2
4         3      3      0        0         1       2      2
5         3      3      0        0         1       0      2
6         3      3      0        0         0       1      2
7         3      3      0        0         0       2      2
8         3      3      0        0         0       0      2
9         3      3      0        1         2       1      2
10        3      3      0        1         2       2      2
11        3      3      0        1         2       0      2
12        3      3      0        1         1       1      2
13        3      3      0        1         1       2      2
14        3      3      0        1         1       0      2
15        3      3      0        1         0       1      2
16        3      3      0        1         0       2      2
17        3      3      0        1         0       0      2
18        3      3      0        2         2       1      2
19        3      3      0        2         2       2      2
20        3      3      0        2         2       0      2
21        3      3      0        2         1       1      2
22        3      3      0        2         1       2      2
23        3      3      0        2         1       0      2
24        3      3      0        2         0       1      2
25        3      3      0        2         0       2      2
26        3      3      0        2         0       0      2
27        3      3      1        0         2       1      2
28        3      3      1        0         2       2      2
29        3      3      1        0         2       0      2
..      ...    ...    ...      ...       ...     ...    ...
120       3      0      0        1         1       1      2
121       3      0      0        1         1       2      2
122       3      0      0        1         1       0      2
123       3      0      0        1         0       1      2
124       3      0      0        1         0       2      2
125       3      0      0        1         0       0      2
126       3      0      0        2         2       1      2
127       3      0      0        2         2       2      2
128       3      0      0        2         2       0      2
129       3      0      0        2         1       1      2
130       3      0      0        2         1       2      2
131       3      0      0        2         1       0      2
132       3      0      0        2         0       1      2
133       3      0      0        2         0       2      2
134       3      0      0        2         0       0      2
135       3      0      1        0         2       1      2
136       3      0      1        0         2       2      2
137       3      0      1        0         2       0      2
138       3      0      1        0         1       1      2
139       3      0      1        0         1       2      2
140       3      0      1        0         1       0      2
141       3      0      1        0         0       1      2
142       3      0      1        0         0       2      2
143       3      0      1        0         0       0      2
144       3      0      1        1         2       1      2
145       3      0      1        1         2       2      2
146       3      0      1        1         2       0      2
147       3      0      1        1         1       1      2
148       3      0      1        1         1       2      2
149       3      0      1        1         1       0      2

[150 rows x 7 columns]

In [26]:
category_col_1 =['class'] 

df = pd.get_dummies(df, columns=category_col_1, drop_first=True)

In [27]:
df.head(15)

    buying  maint  doors  persons  lug_boot  safety  class_1  class_2  class_3
0        3      3      0        0         2       1        0        1        0
1        3      3      0        0         2       2        0        1        0
2        3      3      0        0         2       0        0        1        0
3        3      3      0        0         1       1        0        1        0
4        3      3      0        0         1       2        0        1        0
5        3      3      0        0         1       0        0        1        0
6        3      3      0        0         0       1        0        1        0
7        3      3      0        0         0       2        0        1        0
8        3      3      0        0         0       0        0        1        0
9        3      3      0        1         2       1        0        1        0
10       3      3      0        1         2       2        0        1        0
11       3      3      0        1         2       0        0        1        0
12       3      3      0        1         1       1        0        1        0
13       3      3      0        1         1       2        0        1        0
14       3      3      0        1         1       0        0        1        0