In [23]:
# Author - Ritvik Khanna 
# Date - 04/05/18 
# Version - 1.0

import pandas as pd

# import os
# print(os.listdir("../input"))
# Load dataset
df = pd.read_csv("car_evaluation.csv", names = ["buying","maint", "doors", "persons", "lug_boot","safety","class"])

In [24]:
df.describe()

       buying maint  doors persons lug_boot safety  class
count    1728  1728   1728    1728     1728   1728   1728
unique      4     4      4       3        3      3      4
top       med   med  5more       2      med    med  unacc
freq      432   432    432     576      576    576   1210

### Creating a sample Genetic Algorithm Classifier ::::::: (not related to the above problem?)

In [84]:
import random,copy

sample_chrm=list(range(1,10)) 
print(sample_chrm)
init_population=[]
# random.seed(0)
population_size=5

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
for i in range(population_size):
    new_chrm = copy.copy(sample_chrm)
    random.shuffle(new_chrm)
    init_population.append(new_chrm)

In [86]:
init_population

[[7, 3, 8, 2, 6, 9, 4, 5, 1],
 [9, 1, 4, 3, 5, 6, 8, 7, 2],
 [1, 2, 6, 8, 9, 3, 5, 7, 4],
 [9, 7, 8, 3, 4, 1, 5, 6, 2],
 [4, 8, 7, 3, 2, 6, 9, 5, 1]]

In [87]:
cost_matrix = [] # an empty list 
cost_matrix.append([0,0,0,0,0,0,0,0,0,0]) 
cost_matrix.append([0,0,1,5,6,9,2,3,7,8]) 
cost_matrix.append([0,1,0,8,6,2,4,7,9,5]) 
cost_matrix.append([0,5,8,0,3,2,7,6,8,9]) 
cost_matrix.append([0,6,6,3,0,9,7,4,1,5]) 
cost_matrix.append([0,9,2,2,9,0,1,4,7,3]) 
cost_matrix.append([0,2,4,7,7,1,0,7,4,1]) 
cost_matrix.append([0,3,7,6,4,4,7,0,8,3]) 
cost_matrix.append([0,7,9,8,1,7,4,8,0,1]) 
cost_matrix.append([0,8,5,9,5,3,1,3,1,0])

In [88]:
# for a given chromosome the total cost of travel can be calculated like the following
chrm=[4,1,5,6,9,2,3,7,8]
cost=0
last_city=chrm[0]
for current_city in chrm:
    cost+=cost_matrix[last_city][current_city]
    last_city=current_city

In [89]:
cost #high cost value means low fitness

44

In [96]:
##selection function using roullete wheel method

import random
import functools
import operator

fitness_list = [6.0, 9.0, 4.0, 3.0, 5.0, 8.0, 3.0, 6.0, 3.0, 3.0]
fitness_sum = functools.reduce( operator.add, fitness_list)
prob_list = map( (lambda x: x/fitness_sum), fitness_list)
cum_value = 0 
cum_prob_list = [] 
for prob in prob_list:
    cum_prob_list.append( cum_value + prob ) 
    cum_value += prob
cum_prob_list[-1] = 1.0

In [102]:

selected = [] 
size = 100
for i in range(size):
    rn = random.random()
    for j, cum_prob in enumerate(cum_prob_list):
        if rn<= cum_prob: 
            selected.append( j) 
            break