In [18]:
# Author - Ritvik Khanna 
# Date - 04/05/18 
# Version - 1.3 

import pandas as pd
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# import os
# print(os.listdir("../input"))
# Load dataset
df = pd.read_csv("car_evaluation.csv", names = ["buying","maint", "doors", "persons", "lug_boot","safety","class"])
# Any results you write to the current directory are saved as output.

In [21]:
df.describe()

       buying maint  doors persons lug_boot safety  class
count    1728  1728   1728    1728     1728   1728   1728
unique      4     4      4       3        3      3      4
top       med   med  5more       2      med    med  unacc
freq      432   432    432     576      576    576   1210